/* 
It scares me that I have styles. 
Try and remove as much of the properties as possible.
*/

.jmbo-view-navigation-controller-view {
    position: relative;
    height:100%;
    width:100%;
}

.jmbo-title-view {
    text-align:center;
    background:#ccc;
    height:44px;
    margin:0 0 1em 0;
}
.jmbo-title-view h1 {
    margin:0;
    padding:0;
    line-height:44px;
}

.jmbo-view-controller-view {
    width:100%;
    height:100%;
    background:#999;
    top:0;
    position:absolute;
}


/* animations */

@-webkit-keyframes slide-right-in {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0%); }
}
.slide-right-in { -webkit-animation: slide-right-in 0.3s 0 1 ease-out forwards; }

@-webkit-keyframes slide-right-out {
    from { -webkit-transform: translateX(0%); }
    to { -webkit-transform: translateX(-100%); }
}
.slide-right-out { 
    -webkit-animation: slide-right-out 0.3s 0 1 ease-out forwards; 
}



      

@-webkit-keyframes slide-left-in {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0%); }
}
.slide-left-in { -webkit-animation: slide-left-in 0.3s 0 1 ease-out forwards; }


@-webkit-keyframes slide-left-out {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
.slide-left-out { -webkit-animation: slide-left-out 0.3s 0 1 ease-out forwards; }