.jmbo-tab-view {
    position:relative;
    width:100%;
    height:100%;
}

.jmbo-tab-view .jmbo-tab-view-context {
    width:100%;
    height:100%;
}

.jmbo-tab-bar-view {
    display:table;
    table-layout:fixed;
    
    position:absolute;
    bottom:0;

    width:100%;
    height:44px;
    margin:0;
    padding:0;
    list-style-type:none;

    color:#fff;
    background:#333;
}

.jmbo-tab-bar-view li {
    display:table-cell;
    text-align:center;
    vertical-align:bottom;
    font-size:.8em;

}
.jmbo-bar-bar-view .selected { background-color:#999; }
