.jmbo-stack-view {
    position:relative;
    width:100%;
    height:100%;
}
.jmbo-stack-view > div {
    position:absolute;
    top:0;
    width:100%;
    height:100%;
}

@-webkit-keyframes slide-right-in {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(0%); }
}
.slide-right-in { -webkit-animation: slide-right-in 0.3s 0 1 ease-out forwards; }

@-webkit-keyframes slide-right-out {
    from { -webkit-transform: translateX(0%); }
    to { -webkit-transform: translateX(-100%); }
}
.slide-right-out { -webkit-animation: slide-right-out 0.3s 0 1 ease-out forwards; }
      

@-webkit-keyframes slide-left-in {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(0%); }
}
.slide-left-in { -webkit-animation: slide-left-in 0.3s 0 1 ease-out forwards; }


@-webkit-keyframes slide-left-out {
    from { -webkit-transform: translateX(0); }
    to { -webkit-transform: translateX(100%); }
}
.slide-left-out { -webkit-animation: slide-left-out 0.3s 0 1 ease-out forwards; }